<div class="pv4">
    <div class="ph3 mw7 center">
        <h2 class="f5 mt0 mb3 ttu tc red">{{.intro.heading}}</h2>
        <div class="flex flex-center justify-center">
            <a target="_blank" href="{{.intro.link1}}"><img src="{{.intro.image1}}" alt="" class="db mr4" style="width: 140px"></a>
            <a target="_blank" href="{{.intro.link2}}"><img src="{{.intro.image2}}" alt="" class="db" style="width: 140px"></a>
        </div>
    </div>
    <div class="center mw6 mt4">
        <span class="yelp-review" data-review-id="ykC3OHSEko3clqhv0TiFCg" data-hostname="www.yelp.com">Read <a href="https://www.yelp.com/user_details?userid=J7S4-whMIMXTVIkNTN0osA" rel="nofollow noopener">Laura S.</a>'s <a href="https://www.yelp.com/biz/island-pets-alameda?hrid=ykC3OHSEko3clqhv0TiFCg" rel="nofollow noopener">review</a> of <a href="https://www.yelp.com/biz/Ix70gzIGACpY_iaFEf_VhQ" rel="nofollow noopener">Island Pets</a> on <a href="https://www.yelp.com" rel="nofollow noopener">Yelp</a><script async="async" src="https://www.yelp.com/embed/widgets.js" type="text/javascript"></script></span>
    </div>
</div>
