<!-- Contact -->
<div class="mb4">
  <h4 class="bb mw6 pb2 center b--primary f3 b lh-title mb3 tc">What services do you need?</h4>

  <form name="island-pets-contact-form" netlify-honeypot="hp-field" netlify>
    <div class="flex-l mhn1-l">
      <!-- Name -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="text" id="name" name="name" placeholder="Name" class="w-100 mb2">
          <label for="name">Name</label>
        </fieldset>
      </div>
      <p class="hidden">
          <label>Don’t fill this out if you're human: <input name="hp-field" /></label>
      </p>
      <!-- Email -->
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb2">
          <label for="email">Email</label>
        </fieldset>
      </div>
    </div>

    <!-- Message -->
    <fieldset>
      <textarea id="message" name="message" placeholder="Please describe what services you need and when you need them. We'll Respond within 24 hours." rows="8" cols="80" class="w-100"></textarea>
      <label for="message">What Services Do You Need?</label>
    </fieldset>
    <!-- Button -->
    <div class="tc">
      <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
    </div>
  </form>
</div>
