<footer class="bg-primary ph3 pv4 white">
    <h3 class="tc f7 db">© Made with love by Island Pets</h3>
    <div class="tc">
        <a class="mr1" href="https://www.facebook.com/alamedaislandpets/">
            <img style="width: 20px" src="https://upload.wikimedia.org/wikipedia/commons/c/c2/F_icon.svg">
        </a>
        <a href="https://www.yelp.com/biz/island-pets-alameda">
            <img style="width: 20px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Yelp.svg/512px-Yelp.svg.png">
        </a>
    </div>
</footer>
