<article style="height: 85vh; max-height: 900px;" class="flex flex-center flex content-center">
    <div class="fl w-50-ns h-100 bg-center cover" style="background-image: url('{{.imageUrl}}')">
    </div>
    <div class="fl w-50-ns h-100 tc bg-primary justify-center content-center">
        <h1 class="f1-ns f2 b db tc lh-title white pa3 mt5-ns mt4">
            {{.title}}
        </h1>
        <a href="#schedule" class="raise f6 link dim b--white white b ba bw1 ph3 pv2 mb2 dib mt3">Schedule Now</a>
    </div>
</article>

