<nav class="overflow-x-scroll overflow-x-visible-ns flex items-center justify-center bg-white relative" style="height: 15vh; max-height: 160px;">

    <!-- Logo -->
    <div class="pv3 db h-100 w4 o-80 flex-none">
	<img src="/img/logo.png" alt="Island Pets Logo" class="br0 db mb0 w-100"/>
    </div>

    <!-- Primary Nav -->
    <ul class="b grey-3 dn flex-ns">
	<li><a href="#about" class="pa3 no-underline db">About</a></li>
	<li><a href="#services" class="pa3 no-underline db">Services</a></li>
	<li><a href="#schedule" class="pa3 no-underline db">Schedule Visits</a></li>
    </ul>
</nav>
